GCP_PROJECT=your-gcp-project-id
GCS_BUCKET=your-unique-gcs-bucket-name
GCS_RAW_DATA_PATH=raw_data/crypto_raw_data
GCS_TRANSFORMED_PATH=transformed_data/crypto_transformed_data
BIGQUERY_DATASET=crypto_db
BIGQUERY_TABLE=tbl_crypto
